// 引入拆分的样式模块
@import 'parts/home'
@import 'parts/plugins'
@import 'parts/theme-custom'

// 搜索框优化 (保留在主文件或单独移出)
.suggestions
  overflow auto
  max-height calc(100vh - 6rem)
  @media (max-width: 719px)
    width 90vw
    min-width 90vw !important
    margin-right -20px
  .highlight
    color $accentColor
    font-weight bold
