name: Deploy to BT Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Build Project
        run: |
          # 1. 使用新版参数 --omit=optional 彻底排除 Mac 专用依赖
          # 2. 如果还是报错，增加 --force 强制执行
          npm install --omit=optional --legacy-peer-deps || npm install --legacy-peer-deps --force
          
          # 3. 执行打包
          npm run build

      - name: Sync to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASS }}
          port: 22
          source: "docs/.vuepress/dist/*"
          target: "/www/wwwroot/8.141.7.250"
          strip_components: 3
